<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :type, id: :workout_type, class: "form-control", placeholder: "Type" %>
  </div>

  <div class="form-group">
    <%= form.number_field :duration, id: :workout_duration, class: "form-control", placeholder: "Duration" %>
  </div>

  <div class="form-group">
    <%= form.number_field :calories, id: :workout_calories, class: "form-control", placeholder: "Calories Burned" %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <br>
<% end %>
